<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEMORY ACADEMY</title>
</head>
<body>

    <header>
        <div class="container">
            
            <a href="/"><img src="/img/Logo.png" alt=""></a>
           
            <ul>
                <li>
                    <a href="/carros">Carros</a>
                </li>
                <li>
                    <a href="/motos">Motos</a>
                </li>
                
            </ul>
            
    </div>
    </header>
    <div style="margin-top: 150px;" class="destaques">
        <h1>Confira nossas Motos</h1>
    </div>
    <nav>
        <% auto.forEach( el => {  %>
                <main>
                    
                    <div class="contain">
                        <img src="<%= el.url %>" alt="">

                        <div class="title"> 
                            <h1><%= el.name %></h1>
                            <ul>
                                <li><span>Quilometragem:</span> <%= el.km %> km</li>
                                <li><span>Combustivel:</span> <%= el.fuel%></li>
                            </ul>

                            <div class="years">
                                <h3><%= el.years %></h3>
                            </div>

                            <div class="price">
                                <p>Por apenas</p>
                                <span>R$ <%= el.price %></span>
                            </div>
                            
                        </div>
                    </div>
                </main>
            <% }) %>
        </nav>
    
</body>
</html>